@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

@font-face {
  font-family: Futura;
  src: url(../fonts/futurademic.otf); }
h2 {
  font-family: Futura, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1.2;
  color: #ffffff; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Roboto, sans-serif; }

body {
  margin: 0; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 15px 0;
  position: relative; }
  .container .container-bg {
    position: absolute;
    right: 0;
    top: 0; }
  .container .container-logo {
    float: left;
    padding: 15px 0 0 30px;
    position: relative; }
    .container .container-logo img {
      filter: grayscale(1) brightness(0) invert(1);
      margin-left: 4px; }
  .container .container-social {
    right: 21px;
    margin-top: 10px;
    position: absolute; }
    .container .container-social ul {
      margin-top: 15px;
      list-style-type: none;
      display: inline-block; }
      .container .container-social ul li {
        float: left;
        margin-left: 25px;
        margin-top: 26px;
        font-size: 18px; }
        .container .container-social ul li path {
          fill: #fff;
          -webkit-transition: all 0.2s ease-out;
          -moz-transition: all 0.2s ease-out;
          -ms-transition: all 0.2s ease-out;
          -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out; }
      .container .container-social ul li:nth-child(2) {
        margin-left: 14px; }
      .container .container-social ul li:hover #f {
        fill: #365899; }
      .container .container-social ul li:hover #vk {
        fill: #2a5885; }
      .container .container-social ul li:hover #youtube {
        fill: #FF0000; }
      .container .container-social ul li:hover #inst {
        fill: #0078D7; }
  .container .container-content {
    position: absolute;
    top: 225px;
    left: 185px; }
    .container .container-content > h2 {
      margin: 0 0 36px -3px; }
    .container .container-content div p {
      font-size: 16px;
      line-height: 1.5;
      color: #ffffff;
      margin: 0 0 0 -1px; }
    .container .container-content .content-service {
      float: left; }
    .container .container-content .content-organization {
      float: left;
      margin-left: 85px;
      margin-bottom: 26px; }
      .container .container-content .content-organization h2 {
        margin-left: -1px; }
    .container .container-content a {
      max-width: 320px;
      height: 52px;
      width: 100%;
      display: block;
      background-color: #fff;
      border-radius: 26px;
      text-decoration: none;
      text-transform: uppercase;
      color: #000000;
      font-weight: 500;
      text-align: center;
      line-height: 56px;
      font-size: 14px;
      letter-spacing: 1px;
      box-shadow: 0 14px 24px rgba(0, 0, 0, 0.26); }

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .container .container-content {
    left: 50%;
    width: 80%;
    top: 265px;
    transform: translateX(-50%); }
    .container .container-content a {
      margin: 0 auto; }
    .container .container-content .content-organization {
      float: right; }
    .container .container-content > h2 {
      text-align: center; } }
@media screen and (max-width: 767px) and (min-width: 568px) {
  .container .container-logo img {
    width: 250px;
    height: 96px; }
  .container .container-content {
    width: 100%;
    padding: 0 15px;
    left: 50%;
    top: 265px;
    transform: translateX(-50%); }
    .container .container-content a {
      margin: 0 auto; }
    .container .container-content .content-wrap {
      margin-bottom: 26px; }
      .container .container-content .content-wrap .content-organization {
        float: right;
        margin: 0; }
    .container .container-content > h2 {
      text-align: center; } }
@media screen and (max-width: 567px) and (min-width: 320px) {
  h2 {
    font-size: 20px;
    margin-bottom: 4px; }

  .container .container-bg {
    right: -100px; }
  .container .container-logo {
    float: none;
    padding: 0; }
    .container .container-logo img {
      width: 200px;
      height: 76px;
      margin: 0 auto;
      display: block; }
  .container .container-social {
    margin: 0;
    right: 0;
    width: 100%; }
    .container .container-social ul {
      display: flex;
      justify-content: space-around;
      margin-top: 0;
      padding: 0; }
      .container .container-social ul li {
        margin-left: 0; }
      .container .container-social ul li:nth-child(2) {
        margin-left: 0; }
  .container .container-content {
    left: 0;
    width: 100%; }
    .container .container-content .content-wrap {
      padding: 10px; }
      .container .container-content .content-wrap .content-service {
        float: none;
        text-align: center; }
      .container .container-content .content-wrap .content-organization {
        margin-left: 0;
        text-align: center;
        float: none; }
    .container .container-content > h2 {
      text-align: center;
      margin: 0 0 16px 0; }
    .container .container-content a {
      margin: 0 auto; } }

/*# sourceMappingURL=style.css.map */
