@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@font-face {
  font-family: Futura;
  src: url(../fonts/futurademic.otf);
}

h2 {
  font-family: Futura, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1.2;
  color: #ffffff;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 15px 0;
  position: relative;
  .container-bg {
    position: absolute;
    right: 0;
    top: 0;
  }
  .container-logo {
    float: left;
    padding: 15px 0 0 30px;
    position: relative;
    img {
      filter: grayscale(1) brightness(0) invert(1);
      margin-left: 4px;
    }
  }
  .container-social {

    right: 21px;
    margin-top: 10px;
    position: absolute;
    ul {
      margin-top: 15px;
      list-style-type: none;
      display: inline-block;
      li {
        float: left;
        margin-left: 25px;
        margin-top: 26px;
        font-size: 18px;

        path {
          fill: #fff;
          -webkit-transition: all 0.2s ease-out;
          -moz-transition: all 0.2s ease-out;
          -ms-transition: all 0.2s ease-out;
          -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
        }

      }
      li:nth-child(2) {
        margin-left: 14px;
      }
      li:hover {
        #f {
          fill: #365899;
        }

        #vk {
          fill: #2a5885;
        }
        #youtube {
          fill: #FF0000;
        }
        #inst {
          fill: #0078D7;
        }
      }
    }
  }
  .container-content {
    position: absolute;
    top: 225px;
    left: 185px;
    > h2 {
      margin: 0 0 36px -3px;
    }
    div {
      p {
        font-size: 16px;
        line-height: 1.5;
        color: #ffffff;
        margin: 0 0 0 -1px;
      }
    }
    .content-service {
      float: left;
    }
    .content-organization {
      float: left;
      margin-left: 85px;
      margin-bottom: 26px;
      h2 {
        margin-left: -1px;
      }
    }
    a {
      max-width: 320px;
      height: 52px;
      width: 100%;
      display: block;
      background-color: #fff;
      border-radius: 26px;
      text-decoration: none;
      text-transform: uppercase;
      color: #000000;
      font-weight: 500;
      text-align: center;
      line-height: 56px;
      font-size: 14px;
      letter-spacing: 1px;
      box-shadow: 0 14px 24px rgba(0, 0, 0, 0.26);
    }
  }
}

@media screen and(max-width: 1023px) and (min-width: 768px) {
  .container .container-content {
    left: 50%;
    width: 80%;
    top: 265px;
    transform: translateX(-50%);
    a {
      margin: 0 auto;
    }
    .content-organization {
      float: right;
    }
    > h2 {
      text-align: center;
    }
  }
}

@media screen and(max-width: 767px) and (min-width: 568px) {
  .container {
    .container-logo {
      img {
        width: 250px;
        height: 96px;
      }
    }
    .container-content {
      width: 100%;
      padding: 0 15px;
      left: 50%;
      top: 265px;
      transform: translateX(-50%);
      a {
        margin: 0 auto;
      }
      .content-wrap {
        margin-bottom: 26px;
        .content-organization {
          float: right;
          margin: 0;
        }
      }
      > h2 {
        text-align: center;
      }
    }
  }
}

@media screen and(max-width: 567px) and (min-width: 320px) {
  h2 {
    font-size: 20px;
    margin-bottom: 4px;
  }
  .container {
    .container-bg {
      right: -100px;
    }
    .container-logo {
      float: none;
      padding: 0;
      img {
        width: 200px;
        height: 76px;
        margin: 0 auto;
        display: block;
      }

    }
    .container-social {
      margin: 0;
      right: 0;
      width: 100%;
      ul {
        display: flex;
        justify-content: space-around;
        margin-top: 0;
        padding: 0;
        li {
          margin-left: 0;
        }
        li:nth-child(2) {
          margin-left: 0;
        }
      }
    }
    .container-content {
      left: 0;
      width: 100%;
      .content-wrap {
        padding: 10px;
        .content-service {
          float: none;
          text-align: center;
        }
        .content-organization {
          margin-left: 0;
          text-align: center;
          float: none;
        }
      }
      > h2 {
        text-align: center;
        margin: 0 0 16px 0;
      }
      a {
        margin: 0 auto;
      }
    }
  }
}
